/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# files from rails generator in test rails application
/spec/internal/bin/
/spec/internal/db/migrate/
/spec/internal/config/ductwork.yml
