name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '4.0.1'
          - '3.4.8'
          - '3.3.10'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Appraisals install
      run: bundle exec appraisal install
    - name: Run specs
      run: bundle exec appraisal rake spec
    - name: Run rubocop
      run: bundle exec rake rubocop
